@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

* {
  font-family: Viaoda Libre, cursive;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 25px;
  height: 80px;
  background-color: rgb(60, 64, 73);
  color: white;
  text-align: center;
  width: 100%;
}

footer p {
  padding-top: 25px;
  font-size: larger;
}

button {
  border-radius: 5px;
  background-color: rgb(78, 43, 131);
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: solid 1px rgb(150, 150, 150);
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  color: white;
  font-size: 45px;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.trybewarts-header-logo {
  align-self: flex-start;
  height: 80px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

#trybewarts-header-title {
  align-self: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  align-self: flex-start;
  line-height: 30px;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: center;
}

#avaliate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 30px;
  padding-bottom: 35px;
}

#textarea {
  padding: 5px;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 6px;
}

#label-infos {
  line-height: 35px;
}

#counter {
  text-align: end;
  display: inline-block;
  margin-top: -20px;
  margin-right: 5px;
  z-index: 1;
}

#families {
  display: flex;
  flex-direction: column;
}

#checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#house {
  border: solid 1px rgb(150, 150, 150);
  border-radius: 6px;
}
